*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background-image: linear-gradient(rgba(23, 206, 38, 0.945), #e6f5eff8) ;
    /* box-sizing: border-box; */
}


#container {
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction:column;
    padding: 100px;
    border-radius: 30px;
    height: 500px;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: right;
    top: 100px;
    background-image: linear-gradient(rgba(23, 206, 38, 0.945), #e6f5eff8); 
    filter: opacity(0.9);
    box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 71%);
  
}
button {
    
    all: unset;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    width: 100px;
    align-self: center;
    
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(20, 18, 18);
    width: 60px;
    height: 30px; 
  }
  
  button:hover{
    border: 1px solid rgb(16, 141, 33);
    transition: .3s ease;
    /* color:rgb(40, 163, 35) */
    padding: 20px;
    background: transparent;
    padding-right: -30px;
    transition: .2s ease;
    background-color:rgb(45, 146, 37);
  } 

  :root {
    --modal-duration: 1s;
    --modal-color: #6cdf55;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
 



  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.884);
    font-weight: 200;
    text-align: center;
    justify-content: center;
    
}

.form{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    display: inline-block; 
    border-radius: 4px;

}
 
span {
    color: rgba(2, 2, 2, 0.911);
    font-weight: bold;
    font-family: "Gilroy-Bold";
    justify-content: center;
    text-align: center;
  }

  h1{
    color:rgb(7, 8, 8);
    margin-top: 100px ; 
    margin-bottom: 150px;
    margin-block-start: 0%;
    position : relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.input-group{
    margin-bottom: 30px;
    position: relative;
    background: transparent;
    color: #1a1f1b;
}

input, text{
    width: 575px;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    color: #130909;
    font-size: 15px;
    border-radius: 5px;
    height: 40px;
}

label{
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    color: #151d19;
    cursor: text;
    font-size: 15px;
    transition: 0.2s;
}

/*#button_demo{
    padding: 10px 0;
    color: #22e062d5;
    outline: none;
    background: transparent;
    align-items: center;
    border: 1px solid #fff;
    width: 50%;
    line-height: 50%;
    cursor: pointer;
    border-radius: 6px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
} */

input:focus~label,
input:valid~label{
    top: -20px;
    font-size: 10px;
}

.log__in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -0.2rem;
}
/* #buttondemo{
    padding: 20px ;
    color: #1a1d1cf8;
    border: 2px solid #f7ecec;
    background: transparent;
    padding-right: -30px;
    transition: .3s ease;
    background-color: rgb(76, 206, 83);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
} */


@media(max-width: 700px){
    .form{
        flex-direction: column;
    }
}
